<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("myapp", []);
        app.controller("control", function($scope){
            $scope.items = [];
            $scope.addItem = function(){
                $scope.items.push($scope.itemname);
            }
            $scope.remove=function($index){
                $scope.items.splice($index,1);
            }
        });
    </script>
</head>
<body ng-app="myapp" ng-controller="control">
    Enter Item Name: <input type="text" ng-model="itemname"><br><br>
    <button ng-click="addItem()">Add Item</button><br><br>

    <table border="1" cellspacing="0" width="50%" style="text-align: center;">
        <tr>
            <th>Sl.No</th><th>Item Name</th><th>Remove</th>
        </tr>
        <tr ng-repeat="x in items">
            <td>{{$index+1}}</td>
            <td>{{x}}</td>
            <td><button ng-click="remove($index)">Remove</button></td>
        </tr>
    </table>
</body>
</html>